* {
    --color1: #091727;
    --color1_50: rgba(9, 23, 39, 0.5);
    --color2: #242245ff;
    --color3: #2F548Bff;
    --color4: #544466ff;
    --color5: #4F48C3ff;
    --color6: #1C2C4Fff;
    --color7: #A18089ff;
    --color8: #253457ff;
    --color9: #7450D3ff;
    --color10: #1C316Eff;

    --color11: rgb(255, 196, 0);
    --color12: rgb(77, 62, 0);
    --color13: rgb(99, 99, 99);


    font-family: poppins, sans-serif;
    color: hsl(0, 0%, 95%);

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    height: 70px;
    position: absolute;
    right: 0;
    left: 0;
    background-color: var(--color1_50);
    backdrop-filter: blur(10px);
    z-index: 2;
}

main {
    width: 100%;
    background-color: var(--color1);
    padding-top: 50px;
    border-top: 1px solid var(--color3);
    display: flex;
    justify-content: center;
}

main > article {
    height: 100%;
    /* background-color: red; */
    width: 100%;
    max-width: 1270px;
   
}