
.iconcontainer {
    width: 100%;
    height: 280px;
    position: relative;
    background-color: var(--color2);
    overflow: hidden;
    border-radius: 5px;
    box-shadow: var(--color1_50) 0px 5px 15px;
    cursor: pointer;
}

.iconcontainer:hover > .icon {
    filter: brightness(125%);
}

.iconcontainer:hover > .charoverlay > .overlayrarity {
    height: 7%;
}


.main_header {
    height: 415px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--color1);
    background-position: center 25%;
    /* background-size: 75% ;  */
    background-size:  cover; 
    filter: brightness(50%) ;
}

.character_header {
    position: absolute;
    right: 0;
    left: 0;
    height: 1000px;
    background-repeat: no-repeat;
    background-size:  auto 200%; 
    background-position: center 60%;
    /* background-position: 65% 90%; */
    box-shadow: inset 0px -500px 100px 00px var(--color1_D);
    background-color: rgba(var(--dominantColor1), 0.5);
    /* filter: brightness(50%) ; */
}

.character_header > div {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 200px;
    background-color: var(--color1_D);
}

.icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.25s;
}

.characterlist {

    /* display: flex;
    gap: 1fr;
    justify-content: flex-start;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
    margin: 10px;
    grid-gap: 24px;
    gap: 24px;
}

.charinfo {
    position: absolute;
    top: -200px;
    height: 200px;
    width: 100%;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
}


.charoverlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 50%);
}


.overlayrarity {
    width: 100%;
    height:1.5%;
    background-color: var(--color11);
    position: absolute;
    bottom: 0;
    transition: height 0.25s;
}

.overlayrarity > .gradient {
    position: absolute;
    background: linear-gradient(to right, rgba(255, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 75%);
    inset: 0;
}

.character_body {
    width: 100%;
    max-width: 1000px;
    /* background-color: var(--color1); */
    z-index: 2;
    margin-top: 450px;
    border-top-right-radius: 5px;
    display: flex;
}

.character_body > nav {
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* gap: 5px; */
    /* background-color: var(--color5); */
}

.character_body > div {
    flex: 1;
    border-left: 2px solid rgb(202, 202, 202);
    display: flex;
    flex-direction: column;
    /* background-color: red; */
}

.character_body > nav > div {
    width: 100%;
    height: 55px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: grey;
    display: flex;
    padding-left: 25px;
    font-weight: 600;
    align-items: center;
    cursor: pointer;
}

.character_body > nav > div.active {
    background-color: rgba(var(--dominantColor1), 0.5);
    backdrop-filter: blur(7px);
    border-right: 3px solid white;
    color: rgba(var(--dominantColor5), 1);
    /* mix-blend-mode: difference; */
}

.character_body > nav > div:not(.active):hover {
    background-color: rgba(var(--dominantColor2), 0.25);;
    backdrop-filter: blur(7px);
    color: rgba(255,255,255, 0.75);
}

.character_body > div > .title {
    width: 100%;
    height: 65px;
    background: linear-gradient(to right,
    rgba(var(--dominantColor1), 1) 10%,
    rgba(var(--dominantColor2), 0.5) 25%,
    rgba(var(--dominantColor3), 0.25),
    rgba(0,0,0,0));
    backdrop-filter: blur(7px);
    color: rgba(var(--dominantColor5), 1);
    display: flex;
    align-items: center;
    padding-left: 25px;
    font-size: 1.5em;
    font-weight: 600;
}

.character_body > div > .content {
    background-color:rgb(9, 23, 39, 0.75);
    backdrop-filter: blur(7px);
    flex: 1;
    max-width: 798px;
}

.loading {
    opacity: 0;
    transition: opacity 0.25s;
}

.loaded {
    opacity: 1;
    transition: opacity 0.25s;
}


.gallery {
    width: 100%;
    max-width: 798px;
    /* background-color: red; */
    display: grid;
    grid-template-columns: calc(50% - 10px) 50%;
    padding: 10px;
    gap: 10px;
    grid-template-rows: 400px;
}

.gallery > div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(var(--dominantColor1), 0.25);
    padding: 20px;
    border-radius: 10px;
}
.gallery > div:nth-child(1) > img {
    transform: rotate(90deg);
}

.gallery > div > img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}


@media (max-width: 54rem) {
    .character_body {
        flex-direction: column;
    }

    .character_body > nav  {
        width: 100%;
        flex-direction: row;
        height: auto;
        box-shadow: inset 0px -10px 10px 0px rgba(0,0,0,0.85);
    }

    .character_body > nav > div {
        margin: 0;
        padding: 0;
        border-radius: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        background-color: rgba(var(--dominantColor1), 0.5);
        color: rgba(var(--dominantColor4), 1);
    }

    .character_body > nav > div.active {
        border-right: 0;
        color: rgba(var(--dominantColor5), 1);
    }

    .character_body > nav > div.active::before {
        position: absolute;
        content: "";
        background-color: rgba(var(--dominantColor5), 1);
        bottom : 0px;
        width: 25%;
        height: 3px;
    }

    .character_body > div {
        border-left: 0;
        z-index: 2;
    }
    .character_body > div > .title {
        display: none;
    }

    .gallery {
        grid-template-columns: 1fr;
        grid-template-rows: 100vw 100vw;
    }
}
